:root {
    --widget-bg: hsla(0, 0%, 100%, 0.5);
    --widget-text-color: var(--p-color);
}

.widget {
    background-color: var(--widget-bg);
    padding: 1rem;
    * {
        color: var(--widget-text-color);
    }
    p {
        margin: 0.75rem 0;
        line-height: var(--lh-s);
    }
    a {
        color: var(--p-color);
        &:hover {
            color: var(--white);
        }
    }
    select {
        max-width: 100%;
    }
    ol,
    ul {
        margin-left: 0;
        padding-left: 1rem;
    }
}

.widgettitle, // keep this, typo in WP_Widget_Recent_Posts
.widget-title {
    font-size: var(--fs-l);
    color: var(--p-color);
    margin: 0;
}
